
<app-layout [config]="layoutConfig">
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  <div class="user-accounts-header">
    <h1>Data Sharing</h1>
  </div>
  <app-package-stats [totalPackages]="totalPackages" [yearPackages]="yearPackages" [monthPackages]="monthPackages" [weekPackages]="weekPackages" [totalPackagesPercentChange]="39" [yearPackagesPercentChange]="40" [monthPackagesPercentChange]="41" [weekPackagesPercentChange]="42" [totalPackagesPeriod]="'1999'" [yearPackagesPeriod]="'1 year'" [monthPackagesPeriod]="'1 month'" [weekPackagesPeriod]="'7 days'" (statSelected)="onStatSelect($event)" [selectedStat]="'TOTAL IN MONTH'"></app-package-stats>
  <app-table [columns]="tableColumns" [data]="tableData" (actionClick)="onActionClick($event.action, $event.item)"> </app-table>
</app-layout>