
<app-layout [config]="layoutConfig">
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  <div class="user-accounts-header">
    <h1>Data Sharing</h1>
  </div>
  <app-package-stats [packageStats]="packageStats" (statSelected)="onStatSelect($event)" [selectedStat]="'TOTAL IN MONTH'"></app-package-stats>
  <div class="grid grid-cols-6 mt-2">
    <div class="col-span-6 grid grid-cols-12 filter">
      <div class="col-span-4">
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-search"></p-inputicon>
            <input class="w-full" id="on_label" pInputText="" [(ngModel)]="searchBar" (input)="filterSearch(searchBar)" autocomplete="off">
          </p-iconfield>
          <label for="on_label">Search Package Name</label>
        </p-floatlabel>
      </div>
      <div class="col-span-8 flex justify-end gap-2 filter-icons">
        <app-configurable-filter [filters]="filterConfigs" [showClearAll]="true" [showApplyButton]="true" [showSearch]="false" (filterChange)="onFilterChange($event)" (filterCleared)="onFilterCleared()" (filterApplied)="onFilterApplied($event)" (searchChange)="onSearchChange($event)" (appliedFiltersChange)="onAppliedFiltersChange($event)"></app-configurable-filter>
      </div>
    </div>
  </div>
  <div class="mb-8 mt-1 w-full">
    <app-filter-chips [appliedFilters]="appliedFilters" [showClearAll]="true" [clearAllLabel]="'Clear All'" [getDisplayValue]="getFilterDisplayValue.bind(this)" (chipRemove)="removeFilterChip($event)" (clearAll)="clearAllFilters()"></app-filter-chips>
  </div>
  <app-table [columns]="tableColumns" [data]="tableData" (actionClick)="onActionClick($event.action, $event.item)" [showClearButton]="false" [showSearch]="false"> </app-table>
</app-layout>