
<p-fieldset class="no-border-fieldset" [legend]="'common.components.advancedFilter.query.header'|translate" [toggleable]="true" [collapsed]="true" [style]="selectedQuery != null? '' : 'display:none'">
  <div class="mb-6 query-box">
    <h3 class="query-header mb-3" *ngIf="selectedQuery != null">{{"common.components.advancedFilter.query.queryUsed"|translate}}</h3>
    <div *ngFor="let levelList of selectedQuery.levelList">
      <div *ngIf="levelList.level === '1'; else level2Block">
        <div *ngFor="let group_list of levelList.group_list">
          <div class="level1-margin">
            <div class="group-name">{{group_list.group_name}}
              <div *ngFor="let file_list of group_list.file_list">
                <div class="group-margin">
                  <div><span class="field-name">{{file_list.field_label}}:&nbsp;</span><span class="field-connector">{{file_list.connecting}} </span><span class="field-value">&apos;{{file_list.value}}&apos;</span></div>
                  <div class="operator">{{file_list.operator}}</div>
                </div>
              </div>
              <div class="operator">{{group_list.group_operator}}</div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #level2Block>
        <div class="level2-margin">
          <div class="level-name">{{levelList.level_name}}:</div>
          <div class="level-marker">
            <div *ngFor="let group_list of levelList.group_list">
              <div class="level2-group-margin">
                <div class="group-name">{{group_list.group_name}}
                  <div *ngFor="let file_list of group_list.file_list">
                    <div class="group-margin">
                      <div><span class="field-name">{{file_list.field_label}}:&nbsp;</span><span class="field-connector">{{file_list.connecting}} </span><span class="field-value">&apos;{{file_list.value}}&apos;</span></div>
                      <div class="operator">{{file_list.operator}}</div>
                    </div>
                  </div>
                  <div class="operator">{{group_list.group_operator}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="operator">{{levelList.level_operator}}</div>
    </div>
  </div>
</p-fieldset>