.form-field-container
  margin-bottom 1rem
  
  .form-label
    display block
    margin-bottom 0.5rem
    font-weight 500
  
  .p-inputgroup
    width 100%
    
    .p-inputtext
      width 100%
      
      &.ng-invalid.ng-dirty
        border-color #dc3545
        
        &:focus
          box-shadow 0 0 0 0.2rem rgba(220, 53, 69, 0.25)  
 
    
    &:focus
      box-shadow 0 0 0 0.2rem rgba(220, 53, 69, 0.25)

  .text-muted
    font-size 80%