
<app-layout [config]="layoutConfig">
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  <div class="user-accounts-header">
    <h1>User Accounts</h1>
    <button class="create-user-btn" pButton type="button" (click)="onCreateUser()">Create User</button>
  </div>
  <app-user-stats [totalUsers]="totalUsers" [activeUsers]="activeUsers" [inactiveUsers]="inactiveUsers" [unconfirmedUsers]="unconfirmedUsers" [totalUsersPercentChange]="39" [activeUsersPercentChange]="40" [inactiveUsersPercentChange]="41" [unconfirmedUsersPercentChange]="42" [totalUsersPeriod]="'56'" [activeUsersPeriod]="'30'" [inactiveUsersPeriod]="'30'" [unconfirmedUsersPeriod]="'30'"></app-user-stats>
  <app-table [columns]="tableColumns" [data]="tableData"> </app-table>
</app-layout>