
<app-layout [config]="layoutConfig">
  <app-breadcrumbs [items]="getBreadcrumbItems()"></app-breadcrumbs>
  <div class="flex justify-center items-center mt-8">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #title="">{{ "recipients.addRecipients.title" | translate }}</ng-template>
      <form class="flex flex-col gap-4 mt-4 p-2" [formGroup]="recipientForm">
        <div class="flex flex-col gap-2">
          <label class="font-semibold text-lg" for="recipientCode">{{ "recipients.addRecipients.recipientCode" | translate }}</label>
          <input id="recipientCode" type="text" pInputText="" pSize="large" formControlName="recipientCode">
        </div>
        <div class="flex flex-col gap-2">
          <label class="font-semibold text-lg" for="recipientName">{{ "recipients.addRecipients.recipientName" | translate }}</label>
          <input id="recipientName" type="text" pInputText="" pSize="large" formControlName="recipientName">
        </div>
        <div class="flex gap-4 mt-2">
          <p-button class="w-full" [label]="ms.translate('recipients.addRecipients.cancel')" severity="secondary" [outlined]="true" styleClass="w-full" (click)="configurationPageRoute()"></p-button>
          <p-button class="w-full" type="submit" ~ [disabled]="!recipientForm.valid" [label]="ms.translate('recipients.addRecipients.save')" styleClass="w-full" (click)="addRecipient()"></p-button>
        </div>
      </form>
    </p-card>
  </div>
</app-layout>
<p-dialog [modal]="true" [(visible)]="visibleDialog" [style]="{ 'width': '40rem' }">
  <ng-template #header="">
    <div class="inline-flex items-center justify-center gap-2" *ngIf="recipientSaveResponse?.clientDetail"><i class="pi pi-check-circle" style="font-size: 1.5rem"></i><span class="font-bold whitespace-nowrap text-lg">{{ "recipients.addRecipients.created" | translate }}</span></div>
    <div class="inline-flex items-center justify-center gap-2" *ngIf="recipientSaveResponse?.error"><i class="pi pi-exclamation-triangle" style="font-size: 1.5rem"></i><span class="font-bold whitespace-nowrap text-lg">{{ "recipients.addRecipients.duplicateEntry" | translate }}</span></div>
  </ng-template>
  <div class="flex justify-end" *ngIf="recipientSaveResponse?.clientDetail"></div>
  <p-toast></p-toast>
  <div *ngIf="recipientSaveResponse?.clientDetail">
    <div class="flex flex-col border border-green-300 bg-green-100 rounded-xl px-5 py-4 mb-2 shadow-sm" #copyRecipientDetails="">
      <div class="font-bold text-xl">{{ "recipients.addRecipients.successRecipientCreationDialog.recipientName" | translate }}:</div>
      <div class="font-medium text-lg mb-2">{{ recipientSaveResponse?.clientDetail?.recipientName }}</div>
      <div class="font-bold text-xl">{{ "recipients.addRecipients.successRecipientCreationDialog.clientId" | translate }}:</div>
      <div class="font-medium text-lg mb-2">{{ recipientSaveResponse?.clientDetail?.recipientClientId }}</div>
      <div class="font-bold text-xl">{{ "recipients.addRecipients.successRecipientCreationDialog.clientSecret" | translate }}:</div>
      <div class="font-medium text-lg">{{ recipientSaveResponse?.clientDetail?.recipientClientSecret }}</div>
    </div>
    <div class="flex justify-center gap-2">
      <p-button icon="pi pi-copy" [label]="ms.translate('recipients.addRecipients.copy')" (click)="copyDivContent(copyRecipientDetails)"></p-button>
      <p-button severity="secondary" [label]="ms.translate('recipients.addRecipients.ok')" (click)="closeDialog()"></p-button>
    </div>
  </div>
  <div *ngIf="recipientSaveResponse?.error">
    <div class="flex flex-col gap-4 border border-yellow-300 bg-yellow-100 rounded-xl px-5 py-4 mb-4 shadow-sm">
      <div class="font-bold text-lg">{{ recipientSaveResponse?.error }}</div>
    </div>
    <div class="flex justify-center">
      <p-button [label]="ms.translate('recipients.addRecipients.ok')" (click)="visibleDialog = false"></p-button>
    </div>
  </div>
</p-dialog>