
<app-layout [config]="layoutConfig">
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  <div class="user-accounts-header">
    <h1>Authority Files</h1>
  </div>
  <app-package-stats [packageStats]="packageStats" (statSelected)="onStatSelect($event)" [selectedStat]="'All'"></app-package-stats>
  <div class="mb-4 flex justify-between items-center">
    <div class="flex-1"></div>
    <div class="flex items-center gap-3">
      <app-configurable-filter [filters]="filterConfigs" [showClearAll]="true" [showApplyButton]="true" [showSearch]="'Search Publication Number'" (filterChange)="onFilterChange($event)" (filterCleared)="onFilterCleared()" (filterApplied)="onFilterApplied($event)" (searchChange)="onSearchChange($event)"></app-configurable-filter>
    </div>
  </div>
  <app-table [columns]="tableColumns" [data]="tableData" [searchPlaceHolder]="'Search Publication Number'" (actionClick)="onActionClick($event.action, $event.item)" showPdf="true"> </app-table>
</app-layout>