
<div class="bibliographic-grid">
  <div><b>Logo </b></div>
  <div><img class="logo-image" src="/assets/images/mock-trademark.jpg" alt="Trademark Logo" width="100"></div>
  <div><b>Application Type</b>
    <div>Trademark</div>
  </div>
  <div><b>Mark</b>
    <div>ABC Trademark</div>
  </div>
  <div><b>Registration Number</b>
    <div>{{ data.registration.registrationNbr }} ({{ data.registration.registrationDate }})</div>
  </div>
  <div><b>Entitlement Date</b>
    <div>{{ data.registration.entitlementDate }}</div>
  </div>
  <div><b>Expiration Date</b>
    <div>{{ data.registration.expirationDate }}</div>
  </div>
  <div><b>Expected Renewal</b>
    <div>{{ data.registration.expectedRenewalDate }}</div>
  </div>
  <div><b>File Number</b>
    <div>{{ data.filingData.fileId }} ({{ data.filingData.filingDate }})</div>
  </div>
  <div><b>Application Type</b>
    <div>{{ data.filingData.applicationType }} / {{ data.filingData.applicationSubtype }}</div>
  </div>
  <div><b>Applicant</b>
    <div>(IN) IR. FLYMING LIKA : Komplek WAP Blok M/5, RT/RW. 003/007, Gunung Sahari Utara, Sawah Besar</div>
  </div>
  <div><b>Status</b>
    <div></div>
  </div>
  <div *ngFor="let rep of data.representatives"><b>Representative</b>
    <div>({{ rep.residenceCountryCode }}) {{ rep.addressStreet }}, {{ rep.cityName }} {{ rep.zipCode }}, {{ rep.stateName }} {{ rep.personName }}</div>
  </div>
  <div><b>Priority Details</b>
    <div></div>
  </div>
  <div><b>Nice Classes</b>
    <div>
      Non-medicated cosmetics and toiletry preparations; non-medicated dentifrices; perfumery, essential oils;
      bleaching preparations and other substances for laundry use; cleaning, polishing, scouring and abrasive
      preparations.
    </div>
  </div>
  <div><b>Vienna Classes</b>
    <div>{{ data.viennaClasses || 'VCL' }}</div>
  </div>
</div>
<h3 class="notes-header">Notes</h3>
<p>{{ data.notes }}</p>