
<app-layout [config]="layout"><br>
  <app-breadcrumbs [autoGenerate]="false" [home]="home" [items]="items"></app-breadcrumbs>
  <app-card-group></app-card-group><br>
  <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 1rem;">
    <h1>TRADEMARKS - TOP 5 TECHNOLOGIES</h1>
    <div style="display: flex; align-items: center; gap: 0.5rem;"><i class="pi pi-filter" style="font-size: 1rem; font-weight: 400; color: grey; cursor: pointer;" (click)="showDrawer = true"></i><i class="pi pi-refresh" style="font-size: 1rem; font-weight: 400; color: grey; cursor: pointer;" (click)="onReset()"></i></div>
  </div>
  <p-drawer [(visible)]="showDrawer" position="right" header="CHART FILTERS" [modal]="true">
    <div class="p-fluid">
      <div class="p-field">
        <label style="font-weight: bold">TOPIC / THEME</label>
        <div>
          <p-radiobutton name="topic" [value]="'option1'" label="Technology" [(ngModel)]="selectedTopic" size="small" [ngStyle]="{'display': 'inline-flex', 'align-items': 'center', 'margin-right': '0.75rem'}"></p-radiobutton>
          <label>Technology</label>
        </div>
        <div>
          <p-radiobutton name="topic" [value]="'option2'" label="Origin" [(ngModel)]="selectedTopic" size="small" [ngStyle]="{'display': 'inline-flex', 'align-items': 'center', 'margin-right': '0.75rem'}"></p-radiobutton>
          <label>Origin</label>
        </div>
      </div><br>
      <div class="p-field">
        <label style="font-weight: bold">DATE RANGE</label>
        <p-datepicker [(ngModel)]="dateRange" selectionMode="range" view="year" dateFormat="yy" [yearNavigator]="true" [minDate]="minDate" [maxDate]="maxDate" [showIcon]="true" [readonlyInput]="true"></p-datepicker>
      </div><br>
      <div class="p-field">
        <label style="font-weight: bold">ORIGIN</label>
        <p-select class="w-full" [options]="originOptions" [(ngModel)]="selectedOrigin" placeholder="All"></p-select>
      </div>
    </div>
  </p-drawer>
  <div echarts [(options)]="chartOption" (chartInit)="onChartEvent($event, 'chartInit')" (chartClick)="onChartEvent($event, 'chartClick')"></div>
</app-layout>