
<app-layout [config]="layoutConfig">
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  <app-package-stats [packageStats]="aripoStats" (statSelected)="onStatSelect($event)" [selectedStat]="aripoStatSelected"></app-package-stats>
  <app-configurable-filter-bar [filters]="aripoIncomingFilterConfigs" [disabled]="aripoActiveIndex==0? false: true" [showClearAll]="true" [showApplyButton]="true" [showFilterSelector]="true" [filterSelectorPlaceholder]="'Select filters to display'" (filterChange)="onFilterChange($event)" (filterCleared)="onFilterCleared()" (filterApplied)="onFilterApplied($event)" (appliedFiltersChange)="onAppliedFiltersChange($event)" [showSearchBar]="true" [searchBar]="searchBar" (filterSearch)="filterSearch($event)" [searchLabel]="'Search File Id'" [showDownloadIcon]="false" [appliedFilters]="appliedFilters" [clearAllLabel]="'Clear All'" [getDisplayValue]="getFilterDisplayValue.bind(this)" (chipRemove)="removeFilterChip($event)" (clearAll)="clearAllFilters()"></app-configurable-filter-bar>
  <app-configurable-filter-bar [filters]="aripoOutgoingFilterConfigs" [disabled]="aripoActiveIndex==0? true: false" [showClearAll]="true" [showApplyButton]="true" [showFilterSelector]="true" [filterSelectorPlaceholder]="'Select filters to display'" (filterChange)="onFilterChange($event)" (filterCleared)="onFilterCleared()" (filterApplied)="onFilterApplied($event)" (appliedFiltersChange)="onAppliedFiltersChange($event)" [showSearchBar]="true" [searchBar]="searchBar" (filterSearch)="filterSearch($event)" [searchLabel]="'Search File Id'" [showDownloadIcon]="false" [appliedFilters]="appliedFilters" [clearAllLabel]="'Clear All'" [getDisplayValue]="getFilterDisplayValue.bind(this)" (chipRemove)="removeFilterChip($event)" (clearAll)="clearAllFilters()"></app-configurable-filter-bar>
  <p-tabView [(activeIndex)]="aripoActiveIndex">
    <p-tabpanel value="aripo-incoming">
      <ng-template pTemplate="header">
        <div (click)="onHeaderClick($event, 'aripo-incoming')">ARIPO Incoming Notifications</div>
      </ng-template>
      <app-table [columns]="aripoIncomingTableColumns" [data]="aripoIncomingTableData" (actionClick)="onActionClick($event.action, $event.item)" [showClearButton]="false" [showSearch]="false"> </app-table>
    </p-tabpanel>
    <p-tabpanel value="aripo-outgoing">
      <ng-template pTemplate="header">
        <div (click)="onHeaderClick($event, 'aripo-outgoing')">ARIPO Outgoing Notifications </div>
      </ng-template>
      <app-table [columns]="aripoOutgoingTableColumns" [data]="aripoOutgoingTableData" (actionClick)="onActionClick($event.action, $event.item)" [showClearButton]="false" [showSearch]="false">       </app-table>
    </p-tabpanel>
  </p-tabView>
</app-layout>