
<app-layout [config]="layoutConfig">
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  <app-package-stats [packageStats]="madridStats" (statSelected)="onStatSelect($event)" [selectedStat]="madridStatSelected"></app-package-stats>
  <app-configurable-filter-bar [filters]="madridIncomingFilterConfigs" [disabled]="madridActiveIndex==0? false: true" [showClearAll]="true" [showApplyButton]="true" [showFilterSelector]="true" [filterSelectorPlaceholder]="'notifications.madrid.filter.placeHolder'|translate" (filterChange)="onFilterChange($event)" (filterCleared)="onFilterCleared()" (filterApplied)="onFilterApplied($event)" (appliedFiltersChange)="onAppliedFiltersChange($event)" [showSearchBar]="true" [searchBar]="searchBar" (filterSearch)="filterSearch($event)" [searchLabel]="'notifications.madrid.filter.incomingSearch'|translate" [showDownloadIcon]="false" [appliedFilters]="appliedFilters" [clearAllLabel]="'common.components.filter.clearAll'|translate" [getDisplayValue]="getFilterDisplayValue.bind(this)" (chipRemove)="removeFilterChip($event)" (clearAll)="clearAllFilters()"></app-configurable-filter-bar>
  <app-configurable-filter-bar [filters]="madridOutgoingFilterConfigs" [disabled]="madridActiveIndex==0? true: false" [showClearAll]="true" [showApplyButton]="true" [showFilterSelector]="true" [filterSelectorPlaceholder]="'notifications.madrid.filter.placeHolder'|translate" (filterChange)="onFilterChange($event)" (filterCleared)="onFilterCleared()" (filterApplied)="onFilterApplied($event)" (appliedFiltersChange)="onAppliedFiltersChange($event)" [showSearchBar]="true" [searchBar]="searchBar" (filterSearch)="filterSearch($event)" [searchLabel]="'notifications.madrid.filter.outgoingSearch'|translate" [showDownloadIcon]="false" [appliedFilters]="appliedFilters" [clearAllLabel]="'common.components.filter.clearAll'|translate" [getDisplayValue]="getFilterDisplayValue.bind(this)" (chipRemove)="removeFilterChip($event)" (clearAll)="clearAllFilters()"></app-configurable-filter-bar>
  <p-tabView [(activeIndex)]="madridActiveIndex">
    <p-tabPanel value="madrid-incoming">
      <ng-template pTemplate="header">
        <div (click)="onHeaderClick($event, 'madrid-incoming')">{{"notifications.madrid.incoming.header"|translate}}</div>
      </ng-template>
      <app-table [columns]="madridIncomingTableColumns" [data]="madridIncomingTableData" (actionClick)="onActionClick($event.action, $event.item)" [showClearButton]="false" [showSearch]="false"> </app-table>
    </p-tabPanel>
    <p-tabPanel value="madrid-outgoing">
      <ng-template pTemplate="header">
        <div (click)="onHeaderClick($event, 'madrid-outgoing')">{{"notifications.madrid.outgoing.header"|translate}}</div>
      </ng-template>
      <app-table [columns]="madridOutgoingTableColumns" [data]="madridOutgoingTableData" (actionClick)="onActionClick($event.action, $event.item)" [showClearButton]="false" [showSearch]="false"> </app-table>
    </p-tabPanel>
  </p-tabView>
</app-layout>