
<app-layout [config]="layoutConfig">
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  <app-package-stats [packageStats]="madridStats" (statSelected)="onStatSelect($event)" [selectedStat]="madridStatSelected"></app-package-stats>
  <app-configurable-filter-bar [filters]="madridIncomingFilterConfigs" [disabled]="madridActiveIndex==0? false: true" [showClearAll]="true" [showApplyButton]="true" [showFilterSelector]="true" [filterSelectorPlaceholder]="'Select filters to display'" (filterChange)="onFilterChange($event)" (filterCleared)="onFilterCleared()" (filterApplied)="onFilterApplied($event)" (appliedFiltersChange)="onAppliedFiltersChange($event)" [showSearchBar]="true" [searchBar]="searchBar" (filterSearch)="filterSearch($event)" [searchLabel]="'Search IRN/ Gazette'" [showDownloadIcon]="false" [appliedFilters]="appliedFilters" [clearAllLabel]="'Clear All'" [getDisplayValue]="getFilterDisplayValue.bind(this)" (chipRemove)="removeFilterChip($event)" (clearAll)="clearAllFilters()"></app-configurable-filter-bar>
  <app-configurable-filter-bar [filters]="madridOutgoingFilterConfigs" [disabled]="madridActiveIndex==0? true: false" [showClearAll]="true" [showApplyButton]="true" [showFilterSelector]="true" [filterSelectorPlaceholder]="'Select filters to display'" (filterChange)="onFilterChange($event)" (filterCleared)="onFilterCleared()" (filterApplied)="onFilterApplied($event)" (appliedFiltersChange)="onAppliedFiltersChange($event)" [showSearchBar]="true" [searchBar]="searchBar" (filterSearch)="filterSearch($event)" [searchLabel]="'Search IRN'" [showDownloadIcon]="false" [appliedFilters]="appliedFilters" [clearAllLabel]="'Clear All'" [getDisplayValue]="getFilterDisplayValue.bind(this)" (chipRemove)="removeFilterChip($event)" (clearAll)="clearAllFilters()"></app-configurable-filter-bar>
  <p-tabView [(activeIndex)]="madridActiveIndex">
    <p-tabpanel value="madrid-incoming">
      <ng-template pTemplate="header">
        <div (click)="onHeaderClick($event, 'madrid-incoming')">Madrid Incoming Notifications</div>
      </ng-template>
      <app-table [columns]="madridIncomingTableColumns" [data]="madridIncomingTableData" (actionClick)="onActionClick($event.action, $event.item)" [showClearButton]="false" [showSearch]="false"> </app-table>
    </p-tabpanel>
    <p-tabpanel value="madrid-outgoing">
      <ng-template pTemplate="header">
        <div (click)="onHeaderClick($event, 'madrid-outgoing')">Madrid Outgoing Notifications</div>
      </ng-template>
      <app-table [columns]="madridOutgoingTableColumns" [data]="madridOutgoingTableData" (actionClick)="onActionClick($event.action, $event.item)" [showClearButton]="false" [showSearch]="false"> </app-table>
    </p-tabpanel>
  </p-tabView>
</app-layout>