
<app-layout [config]="layoutConfig">
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  <div class="user-accounts-header">
    <h1>Office Notifications</h1>
  </div>
  <app-package-stats [packageStats]="packageStats" (statSelected)="onStatSelect($event)" [selectedStat]="statSelected"></app-package-stats>
  <app-configurable-filter-bar [filters]="filterConfigs" [showClearAll]="true" [showApplyButton]="true" [showFilterSelector]="true" [filterSelectorPlaceholder]="'Select filters to display'" (filterChange)="onFilterChange($event)" (filterCleared)="onFilterCleared()" (filterApplied)="onFilterApplied($event)" (appliedFiltersChange)="onAppliedFiltersChange($event)" [showSearchBar]="true" [searchBar]="searchBar" (filterSearch)="filterSearch($event)" [searchLabel]="'Search Document Id OR Reference File/ Document'" [showDownloadIcon]="false" [appliedFilters]="appliedFilters" [clearAllLabel]="'Clear All'" [getDisplayValue]="getFilterDisplayValue.bind(this)" (chipRemove)="removeFilterChip($event)" (clearAll)="clearAllFilters()"></app-configurable-filter-bar>
  <p-tabs [(value)]="selectedTab">
    <p-tablist>@for (category of categories; track category.ipType) {
      <p-tab [value]="category.ipType">
        <div (click)="onHeaderClick($event, category.ipType)">
          <div class="category-label">{{ category.display | capitalizeWords }}
            <p-badge [value]="category.count"></p-badge>
          </div>
        </div>
      </p-tab>}
    </p-tablist>
    <p-tabpanels>@for (category of categories; track category.ipType) {
      <p-tabpanel [value]="category.ipType">
        <app-table [columns]="tableColumns" [data]="acknowledgeData" (actionClick)="onActionClick($event.action, $event.item)" [showClearButton]="false" [showSearch]="false"></app-table>
      </p-tabpanel>}
    </p-tabpanels>
  </p-tabs>
  <p-dialog header="Acknowledge Notification" [(visible)]="showEditDialog" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <form class="office-form" [formGroup]="acknowledgeForm">
      <div class="form-field">
        <label for="acknowledge">Acknowledgement Date *</label>
        <p-calendar class="w-full date-calendar" id="'Select date'" [dateFormat]="'yy/mm/dd'" [showClear]="true" [showIcon]="true" [showButtonBar]="true" [touchUI]="false"></p-calendar>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <button class="p-button-text" pButton type="button" label="Cancel" (click)="onCancel()"></button>
      <button pButton type="button" label="Update" (click)="onSaveOffice()"></button>
    </ng-template>
  </p-dialog>
  <p-dialog header="Information" [(visible)]="showInfoDialog" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div>Notification Should be in Approved stage     </div>
    <ng-template pTemplate="footer">
      <button class="p-button-text" pButton type="button" label="Cancel" (click)="onCancel()"></button>
    </ng-template>
  </p-dialog>
  <!-- Confirmation Dialog-->
  <p-confirmDialog> </p-confirmDialog>
</app-layout>