
<p-menubar [style]="{'position': 'fixed','z-index':1000,'width':'100%'}" [model]="items" styleClass="app-navbar" [autoDisplay]="false">
  <ng-template pTemplate="start">
    <div class="navbar-start">
      <button class="sidebar-toggle p-button-text p-button-rounded" pButton type="button" icon="pi pi-bars" (click)="toggleSidebar()"></button><a class="navbar-brand" href="#"><img class="navbar-logo" *ngIf="logo" [src]="logo" alt="Logo"><span class="navbar-title">{{ title }}</span></a>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="navbar-end">
      <div class="language-dropdown-container" *ngIf="showLanguageSelector">
        <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLanguage" (onChange)="onChangeLang($event)" optionLabel="label" optionValue="value" [style]="{'min-width': '8rem'}" styleClass="language-selector" appendTo="body">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center"><span class="pi pi-globe mr-2"></span><span>{{getLangLabel(selectedLanguage)}}</span></div>
          </ng-template>
          <ng-template let-language pTemplate="item"><span>{{language.label}}</span></ng-template>
        </p-dropdown>
      </div>
      <div class="notification-container mx-3">
        <button class="p-button-rounded p-button-text" pButton type="button" icon="pi pi-bell" (click)="notificationPanel.toggle($event)"></button>
        <p-badge *ngIf="notificationCount &gt; 0" [value]="notificationCount.toString()" severity="danger" styleClass="notification-badge"></p-badge>
      </div>
      <div class="user-profile">
        <button class="p-button-text user-button" pButton type="button" (click)="userMenu.toggle($event)">
          <div class="flex align-items-center"><span class="user-avatar">J</span><span class="user-name">{{userName}}</span><span class="pi pi-angle-down ml-2 user-dropdown-icon"></span></div>
        </button>
      </div>
      <button class="mobile-menu-toggle p-button-text p-button-rounded" pButton *ngIf="isMobileView" type="button" icon="pi pi-ellipsis-v" (click)="mobileMenu.toggle($event)"></button>
    </div>
  </ng-template>
</p-menubar>
<p-overlayPanel #notificationPanel [showCloseIcon]="true" [style]="{width: '350px'}" appendTo="body">
  <div class="notification-header p-3 flex justify-content-between align-items-center">
    <h3 class="m-0">{{ ms.translate('notifications') }}</h3>
    <button class="p-button-text p-button-sm" pButton type="button" [label]="ms.translate('markAllAsRead')" (click)="markAllNotificationsAsRead()"></button>
  </div>
  <div class="notification-list p-3">
    <p-menu [model]="notificationItems" [styleClass]="'w-full border-none'"></p-menu>
  </div>
</p-overlayPanel>
<p-menu #userMenu [model]="userMenuItems" [popup]="true" appendTo="body"></p-menu>
<p-overlayPanel #mobileMenu [style]="{width: '90vw', maxWidth: '300px'}" appendTo="body" [showCloseIcon]="true" styleClass="mobile-menu">
  <div class="mobile-menu-header"><span>{{ ms.translate('mobileMenu') }}</span></div>
  <div class="mobile-menu-content">
    <div class="mobile-menu-item" *ngFor="let item of items" (click)="onMobileMenuItemClick(item)"><span class="pi mobile-menu-icon" [ngClass]="item.icon"></span><span>{{item.label}}</span></div>
  </div>
</p-overlayPanel>