.auth-container
  display flex
  width: 400px
  margin: 0 auto
  padding: 20px
  margin-top: 5rem
  

.card-header
  text-align: left
  margin-bottom: 20px
  
  h2
    margin-bottom: 5px
    font-size: 1.5rem
  
  p
    margin: 0
    font-size: 1rem

.form-field
  margin-bottom: 15px
  
  label
    display: block
    margin-bottom: 5px
    font-weight: normal
  
  input
    width: 100%

.form-options
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 20px
  
  .p-field-checkbox
    display: flex
    align-items: center
    
    label
      margin-left: 8px

.forgot-password-link
  text-decoration: none

.form-actions
  margin-bottom: 20px

.sign-up-section
  text-align: center
  display: flex
  justify-content: center
  gap: 5px
  margin-top: 10px
  
  a
    text-decoration: none