html
  body
    .auth-container
      p-card
        .card-header
          h2 {{ ms.translate("auth.signIn.title") }}
          p {{ ms.translate("auth.signIn.subtitle") }}
        form([formGroup]="signInForm", (ngSubmit)="onSubmit()")
          .form-field
            label(for="email") {{ ms.translate("auth.signIn.email") }}
            input#email(pInputText, formControlName="email", [ngClass]='{"ng-invalid ng-dirty": f["email"].touched && f["email"].errors}')
            small.p-error(*ngIf='f["email"].touched && f["email"].errors?.["required"]')
              | {{ ms.translate("auth.signIn.errors.emailRequired") }}
            small.p-error(*ngIf='f["email"].touched && f["email"].errors?.["email"]')
              | {{ ms.translate("auth.signIn.errors.emailInvalid") }}
          .form-field
            label(for="password") {{ ms.translate("auth.signIn.password") }}
            p-password#password(formControlName="password", [toggleMask]="true", [feedback]="false", styleClass="w-full", [ngClass]='{"ng-invalid ng-dirty": f["password"].touched && f["password"].errors}')
            small.p-error(*ngIf='f["password"].touched && f["password"].errors?.["required"]')
              | {{ ms.translate("auth.signIn.errors.passwordRequired") }}
          .form-options
            .p-field-checkbox
              p-checkbox(formControlName="rememberMe", [binary]="true", inputId="rememberMe")
              label(for="rememberMe")
                | {{ ms.translate("auth.signIn.rememberMe") }}
            a.forgot-password-link([routerLink]="['/', officeCode, langCode, 'auth', 'forgot-password']")
              | {{ ms.translate("auth.signIn.forgotPassword") }}
          p-message(*ngIf="error", severity="error", [text]="error", styleClass="w-full mb-4")
          .form-actions
            p-button(type="submit", [label]="ms.translate('auth.signIn.submit')", [loading]="loading", styleClass="w-full")
              ng-template(pTemplate="loading", *ngIf="loading")
                p-progressspinner([style]="{ width: '16px', height: '16px' }", strokeWidth="8")
          p-divider(align="center")
            span.text-600 {{ ms.translate("auth.signIn.or") }}
          .sign-up-section
            span {{ ms.translate("auth.signIn.noAccount") }}
            a([routerLink]="['/', officeCode, langCode, 'auth', 'sign-up']")
              | {{ ms.translate('auth.signIn.signUp') }}