
<div class="units-tree-container">
  <h1>Units Tree</h1>
  <p-tree [value]="treeNodes" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)" (onNodeUnselect)="onNodeUnselect($event)" [style]="{ width: '350px' }" [filter]="true" filterPlaceholder="Search units...">
    <ng-template pTemplate="header">
      <button (click)="toggleExpandCollapse()" [title]="allExpanded ? 'Collapse All' : 'Expand All'" style="margin-left: 0.5rem;"><i class="pi pi-sitemap" [ngStyle]="{ color: allExpanded ? '#1976d2' : '#b0b0b0' }"></i></button><span style="font-size: 0.8em; color: #888; margin-left: 0.5rem; vertical-align: middle;">{{ allExpanded ? "Collapse all" : "Expand all" }}</span>
    </ng-template>
    <ng-template let-node pTemplate="default"><span>{{ node.label }}</span>
      <button class="p-button-text p-button-sm" pButton icon="pi pi-plus" (click)="addNode(node)"></button>
      <button class="p-button-text p-button-sm" pButton icon="pi pi-trash" (click)="deleteNode(node)"> </button>
    </ng-template>
  </p-tree>
</div>