
<app-layout>
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  <div class="grid grid-cols-12 gap-6">
    <!-- Left section-->
    <p-card class="col-span-8 mb-4 calculator">
      <h1 class="text-xl pb-4">Fee Calculator</h1>
      <div class="grid grid-cols-12 gap-4">
        <p-floatlabel class="col-span-4 mb-4" variant="on">
          <p-select class="w-full" id="locations" [options]="docOrigins" [(ngModel)]="selectedLocation" optionLabel="documentOriginName"></p-select>
          <label for="locations">Location/Offices</label>
        </p-floatlabel>
        <p-floatlabel class="col-span-4 mb-4" variant="on">
          <p-select class="w-full" id="category" [options]="categories" [(ngModel)]="selectedCategory" optionLabel="label" [disabled]="selectedLocation === null" (onChange)="getFeeConditionsData()"></p-select>
          <label for="category">Category</label>
        </p-floatlabel>
        <p-floatlabel class="col-span-4 mb-4" variant="on">
          <p-select class="w-full" id="services" [options]="groupedFilings" [(ngModel)]="selectedFileType" [group]="true" [disabled]="selectedLocation === null || selectedCategory === null" (onChange)="onSelectingService($event.value)">
            <ng-template let-group="" #group="">
              <div class="flex items-center"><i class="filetype-group-icon pi pi-file-edit" style="color: slateblue"></i>
                <div class="text-lg font-bold">{{ group.label }}</div>
              </div>
            </ng-template>
          </p-select>
          <label for="services">Filing Type</label>
        </p-floatlabel>
      </div>
      <hr class="mt-4 mb-4">
      <p-table class="mt-4" [value]="selectedServicesList">
        <ng-template pTemplate="header">
          <tr>
            <th class="fee-column">Fee</th>
            <th class="units-column">Unit(s)</th>
            <th>Rate</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service="">
          <tr>
            <td class="fee-column">{{ service.label }}</td>
            <td>
              <div class="units-column flex items-center gap-2">
                <button class="p-button-sm p-button-text" *ngIf="service.totalUnits === 1" pButton="" icon="pi pi-trash" (click)="deleteItem(service)"></button>
                <button class="p-button-sm p-button-text" *ngIf="service.units &gt; 1" pButton="" icon="pi pi-minus" (click)="decreaseUnit(service)"></button>{{ service.totalUnits }}
                <button class="p-button-sm p-button-text" pButton="" icon="pi pi-plus" (click)="increaseUnit(service)"></button>
              </div>
            </td>
            <td class="font-bold">{{ currencyCode }} {{ service.rate }} <span class="additional-amount" *ngIf="(service.totalAdditionalRates) &gt; service.rate">&#40; &plus;{{ service.totalAdditionalRates }} {{ currencyCode }} &#41;</span></td>
          </tr>
        </ng-template>
      </p-table>
      <p-floatlabel class="w-full mt-4" variant="on">
        <p-select class="w-full" id="discounts" [options]="discountOptions" [(ngModel)]="selectedDiscount"></p-select>
        <label for="discounts">Available Discounts</label>
      </p-floatlabel>
      <button class="w-full mt-4" pButton="" label="Calculate" (click)="calculateTotal()"></button>
    </p-card>
    <!-- Right section-->
    <p-card class="col-span-4 summary">
      <div class="text-lg pb-4">Summary</div>
      <div class="flex justify-between mb-4" *ngFor="let item of calculatedItems">
        <div>{{ item.quantity }} X {{ item.label }}</div>
        <div class="font-semibold">{{ currencyCode }} {{ item.amount }}</div>
      </div>
      <div class="flex justify-between mb-4 text-green-500" *ngFor="let discount of discounts">
        <div>Discount &#64; {{ discount.rate }}%</div>
        <div>-{{ currencyCode }} {{ discount.amount }}</div>
      </div>
      <div class="flex justify-between mt-3"><strong>Subtotal</strong><strong>{{ currencyCode }} {{ subtotal }}</strong></div>
      <div class="flex justify-between mt-2"><span>*Tax</span><span>{{ currencyCode }} {{ tax }}</span></div>
      <hr class="mt-4 mb-4">
      <div class="flex justify-between text-xl font-bold"><span>Total Including Tax</span><span>{{ currencyCode }} {{ totalWithTax }}</span></div>
      <div class="mt-4 p-3 bg-yellow-100 border-round"><strong>*Tax Details:</strong>
        <p>Tax calculated at 18% on subtotal after discounts</p>
      </div>
    </p-card>
  </div>
</app-layout>