
<div class="mb-4 flex justify-between items-center gap-3 p-3 rounded" style="background: #e5f3f7">
  <h3 class="text-lg font-semibold">{{ currentTheme }}</h3>
  <div class="flex items-center gap-3">
    <app-configurable-filter #configurableFilter [filters]="filters"></app-configurable-filter>
    <button class="p-button-text" pButton icon="pi pi-refresh" style="color: var(--p-button-outlined-secondary-color)" (click)="reset()"></button>
  </div>
</div>
<div class="mb-8 mt-1 w-full">
  <div class="col-span-6">
    <p-tabs [value]="currentID">
      <p-tablist>@for (item of chartTopics; track item.id) {
        <p-tab [value]="item.id" (click)="setChartCommons(item.route)">
          <div class="flex items-center gap-2"><i [class]="item.icon"></i>
            <div class="category-label">{{ item.title }}</div>
          </div>
        </p-tab>}
      </p-tablist>
    </p-tabs>
  </div>
</div>