
<form [formGroup]="formGroup">
  <div class="profile-upload-section">
    <label class="section-title">Profile Picture</label>
    <div class="profile-upload-wrapper">
      <label class="profile-upload-label" for="profilePicture"><img class="profile-picture-preview" *ngIf="formGroup.get('profilePicture').value; else placeholder" [src]="formGroup.get('profilePicture').value" alt="Profile Picture Preview">
        <ng-template #placeholder><span class="profile-placeholder-icon pi pi-user"></span></ng-template>
        <input type="file" id="profilePicture" accept="image/*" (change)="onProfilePictureChange($event)" hidden>
      </label>
    </div>
  </div>
  <h2 class="form-title">Basic Information</h2>
  <div class="form-fields-2col">
    <div class="form-fields-col">
      <div class="form-field-row">
        <label for="username"><i class="pi pi-user input-label-icon"></i>Username <span class="required">*</span></label>
        <input pInputText id="username" formControlName="username" [ngClass]="{
            'ng-invalid':
              formGroup.get('username')?.invalid &amp;&amp;
              formGroup.get('username')?.touched
          }">
        <app-validation-errors [control]="formGroup.get('username')"></app-validation-errors>
      </div>
      <div class="form-field-row">
        <label for="email"><i class="pi pi-envelope input-label-icon"></i>Email <span class="required">*</span></label>
        <input pInputText id="email" formControlName="email" [ngClass]="{
            'ng-invalid':
              formGroup.get('email')?.invalid &amp;&amp;
              formGroup.get('email')?.touched
          }">
        <app-validation-errors [control]="formGroup.get('email')"></app-validation-errors>
      </div>
      <div class="form-field-row">
        <label for="telephone"><i class="pi pi-phone input-label-icon"></i>Telephone</label>
        <input pInputText id="telephone" formControlName="telephone" [ngClass]="{
            'ng-invalid':
              formGroup.get('telephone')?.invalid &amp;&amp;
              formGroup.get('telephone')?.touched
          }">
        <app-validation-errors [control]="formGroup.get('telephone')"></app-validation-errors>
      </div>
    </div>
    <div class="form-fields-col">
      <div class="form-field-row">
        <label for="clientId"><i class="pi pi-id-card input-label-icon"></i>Client ID</label>
        <input pInputText id="clientId" formControlName="{
            'ng-invalid':
              formGroup.get('clientId')?.invalid &amp;&amp;
              formGroup.get('clientId')?.touched
          }">
        <app-validation-errors [control]="formGroup.get('clientId')"></app-validation-errors>
      </div>
      <div class="form-field-row">
        <label for="loginAlias"><i class="pi pi-user-edit input-label-icon"></i>Login Alias</label>
        <input pInputText id="loginAlias" formControlName="{
            'ng-invalid':
              formGroup.get('loginAlias')?.invalid &amp;&amp;
              formGroup.get('loginAlias')?.touched
          }">
        <app-validation-errors [control]="formGroup.get('loginAlias')"></app-validation-errors>
      </div>
      <div class="form-field-row empty-row"></div>
    </div>
  </div>
  <div class="signature-section">
    <label class="section-title">Signature Upload</label>
    <div class="signature-upload-wrapper">
      <label class="signature-upload-label" for="signatureImage"><span class="signature-upload-icon pi pi-upload"></span><img class="signature-preview" *ngIf="formGroup.get('signatureImage').value" [src]="formGroup.get('signatureImage').value" alt="Signature Preview">
        <input type="file"  id="signatureImage" accept="image/*" (change)="onSignatureChange($event)" hidden>
      </label>
    </div>
  </div>
</form>