
<div class="sidebar-container" [ngClass]="{'sidebar-fixed': fixed, 'sidebar-visible': visible, 'sidebar-hidden': !visible, 'sidebar-compact': compactMode &amp;&amp; !isMobile, 'sidebar-mobile': isMobile}" [style]="{'margin-top':'64px','height':'100%','position':'fixed'}">
  <div class="sidebar-menu">
    <ul class="menu-list">
      <ng-container *ngFor="let item of menuItems">
        <li class="menu-item" [ngClass]="{'menu-item-active': item.expanded, 'has-submenu': item.items &amp;&amp; item.items.length}"><a class="menu-link" [routerLink]="item.routerLink" [routerLinkActive]="item.routerLink ? 'active-route' : ''" (click)="item.items &amp;&amp; item.items.length ? toggleMenuItem(item) : closeSidebarOnMobile()"><i class="menu-icon" [ngClass]="item.icon"></i><span class="menu-label" *ngIf="!compactMode || isMobile">{{ getTranslatedLabel(item.label) }}</span><span class="menu-badge" *ngIf="(!compactMode || isMobile) &amp;&amp; item.badge">{{ item.badge }}</span><i class="submenu-icon pi pi-chevron-down" *ngIf="(!compactMode || isMobile) &amp;&amp; item.items &amp;&amp; item.items.length" [ngClass]="{'submenu-expanded': item.expanded}"></i></a>
          <!-- Submenu items-->
          <div class="submenu" *ngIf="item.items &amp;&amp; item.items.length &amp;&amp; item.expanded &amp;&amp; (!compactMode || isMobile)">
            <ul class="submenu-list">
              <li class="submenu-item" *ngFor="let subItem of item.items"><a class="submenu-link" [routerLink]="subItem.routerLink" [routerLinkActive]="subItem.routerLink ? 'active-route' : ''" (click)="closeSidebarOnMobile()"><i class="submenu-icon" [ngClass]="subItem.icon"></i><span class="submenu-label">{{ getTranslatedLabel(subItem.label) }}</span><span class="submenu-badge" *ngIf="subItem.badge">{{ subItem.badge }}</span></a></li>
            </ul>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
  <!-- Compact mode hover submenu container - shows when hovering items in compact mode-->
  <div class="compact-hover-menu" *ngIf="compactMode &amp;&amp; !isMobile">
    <!-- Content populated via JavaScript on hover-->
  </div>
  <!-- Footer toggle for mobile-->
  <div class="sidebar-footer" *ngIf="isMobile">
    <button class="p-button p-button-text" (click)="sidebarMenuService.toggleSidebarVisibility()"><i class="pi pi-times"></i><span>{{ ms.translate('close') }}</span></button>
  </div>
</div>