
<app-layout>
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  <div class="flex justify-between">
    <h1 class="pt-4 text-xl ml-4 col-span-3">Pending Publication</h1>
  </div>
  <div class="mb-4">
    <div class="user-stats-container">
      <div class="user-stat-card fixed-width" *ngFor="let stat of userStats" [class.selected]="selectedStat === stat.label" (click)="selectStat(stat.label)">
        <div class="stat-header"><span class="stat-label" [style.color]="stat.color">{{ stat.label }}</span><i [class]="stat.icon" [style.color]="stat.color"></i></div>
        <div class="stat-content"><span class="stat-count" [style.color]="stat.color">{{ stat.count }}</span></div>
        <div class="stat-period">{{ stat.period }}</div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <div [ngClass]="showFilesList ? 'col-span-9' : 'col-span-12'">
      <div class="grid grid-cols-6 mt-2">
        <div class="col-span-6 grid grid-cols-12 filter">
          <div class="col-span-4">
            <p-floatlabel variant="on">
              <p-iconfield>
                <p-inputicon class="pi pi-search"></p-inputicon>
                <input class="w-full" id="on_label" pInputText="" [(ngModel)]="searchBar" autocomplete="off">
              </p-iconfield>
              <label for="on_label">Search</label>
            </p-floatlabel>
          </div>
          <div class="col-span-8 flex justify-end gap-2 filter-icons">
            <button class="p-button-text p-button-sm" pButton type="button" [icon]="isCardView ? 'pi pi-list' : 'pi pi-th-large'" (click)="toggleView()" pTooltip="Toggle between table and card view" style="color: var(--p-button-outlined-secondary-color)"></button>
            <app-configurable-filter [filters]="filterConfigs" [showClearAll]="true" [showApplyButton]="true" [showFilterSelector]="true" [filterSelectorPlaceholder]="'Select filters to display'" (filterChange)="onFilterChange($event)" (filterCleared)="onFilterCleared()" (filterApplied)="onFilterApplied($event)" (appliedFiltersChange)="onAppliedFiltersChange($event)"></app-configurable-filter>
            <p-button class="forward-arrow-icon" *ngIf="!showFilesList" pTooltip="Show selected files list" (click)="toggleFilesList()" icon="pi pi-angle-right" [rounded]="true" severity="info"></p-button>
          </div>
        </div>
      </div>
      <div class="mb-8 mt-1 w-full">
        <app-filter-chips [appliedFilters]="appliedFilters" [showClearAll]="true" [clearAllLabel]="'Clear All'" [getDisplayValue]="getFilterDisplayValue.bind(this)" (chipRemove)="removeFilterChip($event)" (clearAll)="clearAllFilters()"></app-filter-chips>
        <div class="col-span-6">
          <p-tabs value="trademark" scrollable="">
            <p-tablist>@for (category of categories; track category.ipType) {
              <p-tab [value]="category.ipType">
                <div class="category-label">{{ category.ipType | capitalizeWords }}</div>
                <p-badge [value]="category.count"></p-badge>
              </p-tab>}
            </p-tablist>
            <p-tabpanels>@for (category of categories; track category.ipType) {
              <p-tabpanel class="grid grid-cols-12 gap-3" [value]="category.ipType">
                <div class="col-span-12 flex justify-between p-4 items-center table-selections">
                  <div class="text-base font-bold">Selected: 0</div>
                  <div class="flex items-center gap-2">
                    <div class="text-base font-bold">Journal Code:</div>
                    <p-select class="w-full md:w-56" [options]="journalData" [(ngModel)]="journalCode" optionLabel="journalCode" optionValue="journalCode" (onChange)="onJournalChange($event)"></p-select>
                    <p-button label="Add" icon="pi pi-plus" severity="secondary"></p-button>
                    <p-button label="Create Journal" icon="pi pi-file"></p-button>
                  </div>
                </div>@for (service of category.data; track service.name) {
                <div class="col-span-3 mt-3" *ngIf="isCardView">
                  <p-card class="w-full">
                    <ng-template #header="">
                      <h1 class="flex">
                        <p-checkbox inputId="service" [(ngModel)]="service.checked" [binary]="true"></p-checkbox>
                        <label class="flex-1" for="service">{{ service.name }}</label>
                      </h1>
                    </ng-template>
                    <p-tag class="mb-2" [severity]="getTagColorValue(service.status).severity" [value]="getTagColorValue(service.status).value | capitalizeWords"></p-tag>
                    <div class="text-sm mb-2">Code: {{ service.journalCode }}</div>
                    <div class="text-sm mb-3">Files: {{ service.files }}</div>
                    <ng-template #footer="">
                      <div class="flex gap-4 mt-1">
                        <p-button class="w-full" size="small" icon="pi pi-eye" label="View" severity="secondary" [outlined]="true" styleClass="w-full"></p-button>
                        <p-button class="w-full" size="small" icon="pi pi-lock" styleClass="w-full" label="Close"></p-button>
                      </div>
                    </ng-template>
                  </p-card>
                </div>}
                <div class="col-span-12" *ngIf="!isCardView">
                  <app-table [columns]="tableColumns" [data]="category.data" [globalFilterFields]="globalFilterFields" [showSearchButton]="false" [showClearButton]="false" [paginator]="true" [lazy]="true" [rows]="pageSize" [totalRecords]="totalRecords" [(selection)]="selectedRows" [rowsPerPageOptions]="[10, 25, 50, 100]" [showCurrentPageReport]="true" [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} publications'" (actionClick)="onActionClick($event.action, $event.item)" (onLazyLoad)="onLazyLoad($event)"></app-table>
                </div>
              </p-tabpanel>}
            </p-tabpanels>
          </p-tabs>
        </div>
      </div>
    </div>
    <div class="col-span-3">
      <div class="mt-2 transition-all duration-200 ease-in-out overflow-hidden" [ngClass]="showFilesList 
      ? 'w-full opacity-100 translate-x-0' 
      : 'w-0 opacity-0 translate-x-full'">
        <p-card>
          <div class="flex justify-between">
            <div class="mb-1">
              <div class="text-base font-bold">{{showFilesList ? selectedJournal?.journalName : ''}} </div>
              <div class="text-sm font-normal">{{showFilesList ? selectedJournal?.journalCode: ''}}</div>
              <div class="text-sm font-normal">Files in this journal &#40;{{showFilesList ? selectedJournal?.files?.length : ''}}&#41;</div>
            </div>
            <div class="mb-1">
              <p-button icon="pi pi-angle-left" (click)="toggleFilesList()" [rounded]="true" [text]="true"></p-button>
            </div>
          </div>
          <div class="mt-4">
            <p-listbox class="w-full md:w-56" [options]="selectedJournal?.files" [(ngModel)]="selectedFileId" optionLabel="true"> 
              <ng-template let-item="" pTemplate="item">
                <div class="flex justify-between items-center w-full"><span>{{ item.fileId }}</span>
                  <button class="p-button-text p-button-danger p-button-sm" type="button" pButton="" icon="pi pi-trash" (click)="deleteItem(item)"></button>
                </div>
              </ng-template>
            </p-listbox>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</app-layout>